html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("../img/fundo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
.navbar {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
}

    .navbar a,
    .navbar-brand,
    .nav-link,
    .navbar-nav .nav-link {
        color: white !important;
    }



.splash-overlay {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}


.glass-card {
    width: 420px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.04); 
    backdrop-filter: blur(14px);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    text-align: center;
    animation: fadeUp 1.2s ease;
}


    .glass-card h1 {
        color: #fff;
        font-size: 3rem;
        font-weight: bold;
    }

    .glass-card p {
        color: #eaeaea;
        margin-bottom: 25px;
    }



@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}




