@{
    ViewData["Title"] = "Home Page";
}

<div class="splash-overlay">
    <div class="glass-card">
        <h1>Bem-Vindo</h1>
        <p>Sistema de Gerenciamento de Espaços </p>


    </div>
</div>
